<div class="submission_thumb_holder" id="sub_thumb_{{ _id }}">
	<a href="/submission/{{ _id }}/"><img src="/media/{{ _id }}/thumb_{{ file_name }}" /></a>
	<div class="submission_thumb_rollover" id="sub_thumb_{{ _id }}_rollover">
		<ul>
			<li>
				<span class="ic_label translatable">Date Admitted</span>
				<span class="translatable as_date">{{ date_admitted }}</span>
			</li>
			<li>
				<span class="ic_label translatable">Mime Type</span>
				<span>{{ mime_type }}</span>
			</li>
		</ul>
	</div>
</div>